:root {
    --color-black: hsl(0, 0%, 0%);
    --color-white: hsl(0, 0%, 100%);
    --color-ligh-gray: hsl(0, 0%, 90%);
    --color-dark-gray: hsl(0, 0%, 40%);
    --color-very-dark-gray: hsl(0, 0%, 20%);
    --color-violet: hsl(230, 60%, 54%);
    --color-pink: hsl(304, 52%, 55%);
}